body{
    background: #023047;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #219ebc;
    font-family:'Times New Roman', Times, serif;
}

h3{
    color: #8ecae6;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

div{
    text-align: center;
    margin: 20px;
}

form label{
    font-size: 23px;
    margin: 15px;
}

form p{
    margin: 15px;
    padding: 10px;
}

input{
    width: 100px;
    height: 20px;
    padding: 15px 32px;
    margin: 5px;
}

button{
    width: auto;
    height: 40px;
    margin-top: 10px;
    background: #fb8500;
    border: none;
    border-radius: 6px;
    margin: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    background-color: white;
    color: black;
    border: 2px solid #fb8500;
    cursor: pointer;

}

p{
    color: #8ecae6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}